<h3>Single selection</h3>
<p>
<div>
  <div *ngIf="!loading">
      <mat-form-field>
      <mat-select [formControl]="ticketCtrl" placeholder="ticket" #singleSelect>
        <mat-option>
          <ngx-mat-select-search [formControl]="ticketFilterCtrl"></ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let bank of filteredTickets | async" [value]="bank">
          {{bank.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="loading" class="loading">
      <div id="loading-content">
        Loading...
    </div>
  </div>
</div>
<p>
  Selected Ticket: {{ticketCtrl.value?.name}}
</p>
